@model IEnumerable<DAL.Medecin>

<p>
    <h1>Choix du Medecin</h1>
</p>
<table class="table">
    <tr>   
        <th></th>    
        <th>
            @Html.DisplayNameFor(model => model.Nom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Prenom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sexe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INAMI)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>     
        <td>
            <input type="radio"
                   value="@Html.DisplayFor(modelItem=>item.INAMI)"
                   name="rdMedecinSel" onclick="setSelMed(this)" />
        </td>   
        <td>
            @Html.DisplayFor(modelItem => item.Nom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prenom)
        </td>       
        <td>
            @Html.DisplayFor(modelItem => item.Sexe)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.INAMI)
        </td>        
    </tr>
}

</table>
